.player-bar {
  position: absolute;
  width: 100%;
  display: flex;
  pointer-events: none;
}

.player-bar-top {
  top: 0;
  left: 0;
  padding-top: 10px;
}

.player-bar-bottom {
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}

.player-half {
  width: 50%;
  text-align: center;
}
